<!DOCTYPE html>
<html lang="en-us">

<!-- Hi, Welcome to Shepherd! 
    This is a basic walkthrough of Web Development. 
    If you're new to Html, Css, and Javascript follow this basic walkthrough. 
    If you already have experience with Web Dev, skim the files and skip to challenge 4. 
                            GoodLuck!!!

    If you get stuck look at the hints and click on this link for extra resources. 
    LINK: https://ritzy-acrylic-cd6.notion.site/Hyperlinks-Web-Dev-Tutorial-9bfd70a08412410b8c01b0e0b4721330
-->

<head> <!-- element contains meta information about the HTML page-->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/styling.css"> <!-- Connecting to css file-->

    <title> Intro to Web Dev </title>
    <!-- <div class = "stuff" -> Used frequently to seperate different parts of a page-->

    <div class="container-header">
        <h1>This is a Header</h1>   <!--replace header to whatever you desire-->
        <h2>This is a smaller header</h2>
    </div>
</head>

<body>
    <!-- Element defines the document's body, and is a container for all the visible contents-->
    <div class="challenge-1">
        <p> Goal: Create a list describing who you are. Ex: Name, Year, Major, etc </p>
        <p> Extra: create a border around the list and change the styling </p>

        <!-- Your code here -->

    </div>

    <div class="challenge-2">
        <p> Goal: Add a Image and make it hyperlink to something <br> </p>
        <p> Extra: Position the image using css </p>
        <!-- Your code here -->

    </div>

    <div class="challenge-3">
        <p> Goal: Create a button that directs to anything </p>
        <p> Extra: this button will directed you to new page you will create </p>

        <p> Hint -> go to views.py and learn about flask </p>
        <!-- Your code here -->
    </div>

    <div class="challenge-4">
        <p> Goal: Continue to code the website, either about yourself or anything. <br>  Incorporate Javascript within the website to code some cool features <br> </p>
        <p> Ex: dark mode button, cool features with buttons, paintbrush mouse</p>
    </div>

     <!-- Your code here -->


    <!-- Connecting to the  Javasctipt File -->
    <script src="../static/js/functions.js">
        //can also write javascript within here, just remove the src
    </script>
</body>

</html>