.container {
  --d: 6.5em; /* image size */
  --rel: 1; /* how much extra space we want between images, 1 = one image size */
  --r: calc(0.5 * (1 + var(--rel)) * var(--d) / var(--tan)); /* circle radius */
  --s: calc(2 * var(--r) + var(--d)); /* container size */
  position: relative;
  margin: auto;
  width: var(--s);
  height: var(--s);
}

.container portrait {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  margin: calc(-0.5 * var(--d));
  width: var(--d);
  height: var(--d);
  --az: calc(var(--i) * 1turn / var(--m));
  transform: rotate(var(--az)) /* orient for shift */ translate(var(--r))
    /* shift over to the correct spot */ rotate(calc(-1 * var(--az))); /* make it vertical again */
}

.container .sheep[data-picked="true"] {
  filter: drop-shadow(2px 2px 0 #ffc107)
        drop-shadow(-2px 2px 0 #ffc107)
        drop-shadow(2px -2px 0 #ffc107)
        drop-shadow(-2px -2px 0 #ffc107);
}

.name_card {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0rem 0.3rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-left: 50%; /* needed to help center the text */
  transform: translateX(-50%); /* center the text */
  color: #000;
  background-color: #a8abae;
  border-color: #a8abae;
}

.placard {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0rem 0.3rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-left: 50%; /* needed to help center the text */
  transform: translateX(-50%); /* center the text */
  color: #000;
  background-color: #fdb515;
  border-color: #fdb515;
}

.i_voted {
  width: calc(var(--d) / 5);
  height: calc(var(--d) / 5);
  position: absolute;
  transform: rotate(-55deg) translate(calc(var(--d) / 1.75)) rotate(55deg);
}

.ja-or-nein {
  width: calc(var(--d) / 1.5);
  height: calc(var(--d) / 1.5);
  position: absolute;
  transform: translateX(-3.5rem) translateY(-7.5rem);
}

.board {
  position: relative;
  margin: auto;
  --bw: 10.5em; /* image size */
  --bh: 13.5em;
  --scale: 0.5;
  --w: calc(var(--scale) * var(--bw));
  --h: calc(var(--scale) * var(--bh));
  width: calc(var(--n) * var(--w));
  height: var(--h);
}

.board tile {
  position: relative;
  float: left;
  width: var(--w);
  height: var(--h);
}

.board .card {
  width: calc(var(--w) / 1.1);
  height: calc(var(--h) / 1.1);
  position: absolute;
  top: calc(var(--h) / 22);
  left: calc(var(--w) / 22);
  background: transparent;
  border-color: transparent;
}

.board .power {
  --scale: 1.2;
  max-width: calc(var(--w) / var(--scale));
  max-height: calc(var(--h) / var(--scale));
  width: auto;
  height: auto;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: calc(var(--h) / (2 / (1 - 1 / var(--scale))));
  background: transparent;
  border-color: transparent;
  text-align: center;
}

.election-tracker {
  position: relative;
  margin: auto;
  --d: 3em; /* circle size */
  --spaceing: 2em;
  width: calc(calc(3 * var(--d)) + calc(2 * var(--spaceing)));
  height: var(--d);
}

.election-tracker .circle {
  float: left;
  border-radius: 50%;
  width: var(--d);
  height: var(--d);
  border-style: solid;
  border-width: calc(var(--d) * .1);
  border-color: rgb(63, 68, 231);
  background: rgb(161, 204, 240);
}

.election-tracker .circle[data-filled="true"]{
  background: rgb(63, 68, 231);
}

.election-tracker .circle .text {
  font-weight: 400;
  color: #e8e8e9;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  display:block;
  user-select: none;
  font-size: 155%;
}

.election-tracker .circle > img {
  --scale: .7;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: calc(calc(var(--d) - calc(var(--d) * var(--scale))) / 2);
  width: 70%;
  height: 70%;
}

.election-tracker .spacer {
  float: left;
  --scale: .7;
  width: calc(var(--spaceing) * var(--scale));
  height: calc(var(--d) * .1);
  background: rgb(63, 68, 231);
  margin-right: calc(var(--spaceing) * calc(calc(1 - var(--scale)) / 2));
  margin-left: calc(var(--spaceing) * calc(calc(1 - var(--scale)) / 2));
  margin-top: calc(calc(var(--d) - calc(var(--d) * .1)) / 2);
}

img {
  max-width: 100%;
}
