
:root {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}



/* challenge-1 is div you created within the html file -> edits all the elements wihtin that div class */
.challenge-1 {
    background-color: lightblue; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.challenge-2{
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.btn {
    background-color:black ;
    color:white;
    margin-bottom: 20%;
    box-shadow: 0 2px 2px #888888; 
    border-radius: 4px;
}

.btn:hover {
    background-color: white;
    color: black;
}

.challenge-3{
    background-color: lightslategray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}