<!DOCTYPE html>
<html>
  <!-- This is the frontend code for the core gameplay. It is roughly organized as follows:
     1. HTML Elements
     2. JavaScript functions that read headers sent by Shepherd and update the screen accordingly
     3. JavaScript functions that respond to user input and send headers back to Shepherd
-->

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.2/socket.io.js"
    ></script>
    <script src="{{url_for('static', filename='utils/cookies.js')}}"></script>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='bootstrap.min.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='gamestyle.css')}}"
    />
    <link
      rel="shortcut icon"
      href="{{url_for('static', filename='favicon.ico')}}"
    />
    <title>Game</title>

    <style>
      * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: "Comic Sans MS", "Comic Sans", cursive;
      }

      #root {
        background-color: rgb(209, 233, 253);
      }
    </style>
  </head>

  <body id="root">
    <!-- waiting room -->
    <h1 id="titleText">BAAA play here</h1>
    <a id="playersText"></a>
    <button
      id="startGameButton"
      type="button"
      class="btn btn-primary"
      onclick="startNewGame()"
      style="display: none"
    >
      Start Game
    </button>

    <!-- generic text entry -->
    <h4 id="miscEntryText"></h4>

    <!-- vote on chancellor -->
    <div>
      <button
        id="chancellorVoteYesButton"
        type="button"
        class="btn btn-primary"
        onclick="chancellorVoteYes()"
        style="display: none; float: left"
      >
        Yes
      </button>
      <button
        id="chancellorVoteNoButton"
        type="button"
        class="btn btn-primary"
        onclick="chancellorVoteNo()"
        style="display: none; float: left; margin-left: 10px"
      >
        No
      </button>
    </div>

    <!-- cards to select -->
    <div>
      <button
        id="card1Button"
        type="button"
        class="btn btn-primary"
        onclick="pressedCard(0)"
        style="display: none; float: left; z-index: 1000; position: relative"
      ></button>

      <button
        id="card2Button"
        type="button"
        class="btn btn-primary"
        onclick="pressedCard(1)"
        style="
          display: none;
          float: left;
          z-index: 1000;
          position: relative;
          margin-left: 10px;
        "
      ></button>

      <button
        id="card3Button"
        type="button"
        class="btn btn-primary"
        onclick="pressedCard(2)"
        style="
          display: none;
          float: left;
          z-index: 1000;
          position: relative;
          margin-left: 10px;
        "
      ></button>

      <!-- veto -->
      <button
        id="chancellorVetoButton"
        type="button"
        class="btn btn-primary"
        onclick="chancellorVeto()"
        style="
          display: none;
          float: left;
          z-index: 1000;
          position: relative;
          margin-left: 10px;
        "
      >
        Veto
      </button>

      <!-- policy peek -->
      <button
        id="endPolicyPeekButton"
        type="button"
        class="btn btn-primary"
        onclick="endPolicyPeek()"
        style="
          display: none;
          float: left;
          z-index: 1000;
          position: relative;
          margin-left: 10px;
        "
      >
        Done
      </button>
    </div>

    <button
      id="presidentEndElectionResultsButton"
      type="button"
      class="btn btn-primary"
      onclick="endElectionResults()"
      style="display: none"
    >
      Done
    </button>

    <!-- investigate player -->
    <button
      id="endInvestigatePlayerButton"
      type="button"
      class="btn btn-primary"
      onclick="endInvestigatePlayer()"
      style="display: none"
    >
      Done
    </button>

    <!-- veto response -->
    <div>
      <button
        id="presidentVetoButton"
        type="button"
        class="btn btn-primary"
        onclick="presidentVeto()"
        style="display: none; float: left"
      >
        Veto
      </button>

      <button
        id="presidentNoVetoButton"
        type="button"
        class="btn btn-primary"
        onclick="presidentNoVeto()"
        style="display: none; float: left; margin-left: 10px"
      >
        No Veto
      </button>
    </div>

    <!-- start new game -->
    <button
      id="startNewGameButton"
      type="button"
      class="btn btn-primary"
      onclick="startNewGame()"
      style="display: none"
    >
      Start New Game
    </button>

    <div class="container" id="game_canvas"></div>

    <!-- Display the board -->
    <div class="board" id="liberal board" style="--n: 5; top: 100px">
      <tile>
        <img
          src="{{url_for('static', filename='assets/liberal_board.png')}}"
          alt="liberal background"
        />
        <img
          class="card"
          id="liberal card 1"
          src="{{url_for('static', filename='assets/liberal_card.png')}}"
          alt="liberal Card"
          style="display: none"
        />
      </tile>
      <tile>
        <img
          src="{{url_for('static', filename='assets/liberal_board.png')}}"
          alt="liberal background"
        />
        <img
          class="card"
          id="liberal card 2"
          src="{{url_for('static', filename='assets/liberal_card.png')}}"
          alt="liberal Card"
          style="display: none"
        />
      </tile>
      <tile>
        <img
          src="{{url_for('static', filename='assets/liberal_board.png')}}"
          alt="liberal background"
        />
        <img
          class="card"
          id="liberal card 3"
          src="{{url_for('static', filename='assets/liberal_card.png')}}"
          alt="liberal Card"
          style="display: none"
        />
      </tile>
      <tile>
        <img
          src="{{url_for('static', filename='assets/liberal_board.png')}}"
          alt="liberal background"
        />
        <img
          class="card"
          id="liberal card 4"
          src="{{url_for('static', filename='assets/liberal_card.png')}}"
          alt="liberal Card"
          style="display: none"
        />
      </tile>
      <tile>
        <img
          src="{{url_for('static', filename='assets/liberal_board_dark.png')}}"
          alt="liberal background"
        />
        <img
          class="power"
          src="{{url_for('static', filename='assets/liberal_win.png')}}"
          id="liberal win"
          alt="liberal win"
        />
        <img
          class="card"
          id="liberal card 5"
          src="{{url_for('static', filename='assets/liberal_card.png')}}"
          alt="liberal Card"
          style="display: none"
        />
      </tile>
      <div style="clear: both"></div>
    </div>
    <div class="board" id="fascist board" style="--n: 6; top: 50px">
      <tile>
        <img
          src="{{url_for('static', filename='assets/fascist_board.png')}}"
          alt="fascist background"
          style="margin-top: 50px"
        />
        <img
          class="power"
          id="fascist power 1"
          alt="fascist power 1"
          style="margin-top: 50px; display: none"
        />
        <img
          class="card"
          id="fascist card 1"
          src="{{url_for('static', filename='assets/fascist_card.png')}}"
          alt="fascist Card"
          style="margin-top: 50px; display: none"
        />
      </tile>
      <tile>
        <img
          src="{{url_for('static', filename='assets/fascist_board.png')}}"
          alt="fascist background"
          style="margin-top: 50px"
        />
        <img
          class="power"
          id="fascist power 2"
          alt="fascist power 2"
          style="margin-top: 50px; display: none"
        />
        <img
          class="card"
          id="fascist card 2"
          src="{{url_for('static', filename='assets/fascist_card.png')}}"
          alt="fascist Card"
          style="margin-top: 50px; display: none"
        />
      </tile>
      <tile>
        <img
          src="{{url_for('static', filename='assets/fascist_board.png')}}"
          alt="fascist background"
          style="margin-top: 50px"
        />
        <img
          class="power"
          id="fascist power 3"
          alt="fascist power 3"
          style="margin-top: 50px; display: none"
        />
        <img
          class="card"
          id="fascist card 3"
          src="{{url_for('static', filename='assets/fascist_card.png')}}"
          alt="fascist Card"
          style="margin-top: 50px; display: none"
        />
      </tile>
      <tile>
        <img
          src="{{url_for('static', filename='assets/fascist_board_dark.png')}}"
          alt="fascist background"
          style="margin-top: 50px"
        />
        <img
          class="power"
          id="fascist power 4"
          alt="fascist power 4"
          style="margin-top: 50px; display: none"
        />
        <img
          class="card"
          id="fascist card 4"
          src="{{url_for('static', filename='assets/fascist_card.png')}}"
          alt="fascist Card"
          style="margin-top: 50px; display: none"
        />
      </tile>
      <tile>
        <img
          src="{{url_for('static', filename='assets/fascist_board_dark.png')}}"
          alt="fascist background"
          style="margin-top: 50px"
        />
        <img
          class="power"
          id="fascist power 5"
          alt="fascist power 5"
          style="margin-top: 50px; display: none"
        />
        <img
          class="card"
          id="fascist card 5"
          src="{{url_for('static', filename='assets/fascist_card.png')}}"
          alt="fascist Card"
          style="margin-top: 50px; display: none"
        />
      </tile>
      <tile>
        <img
          src="{{url_for('static', filename='assets/fascist_board_dark.png')}}"
          alt="fascist background"
          style="margin-top: 50px"
        />
        <img
          class="power"
          src="{{url_for('static', filename='assets/fascist_win.png')}}"
          id="fascist win"
          alt="fascist win"
          style="margin-top: 50px"
        />
        <img
          class="card"
          id="fascist card 6"
          src="{{url_for('static', filename='assets/fascist_card.png')}}"
          alt="fascist Card"
          style="margin-top: 50px; display: none"
        />
      </tile>
      <div style="clear: both"></div>
    </div>

    <script>
      // initialize socket
      console.log("loaded");
      let socket;
      try {
        socket = io();
      } catch (error) {
        document.getElementById(
          "titleText"
        ).textContent = `Looks like you don't have a full connection to the server! Try checking your internet connection!`;
        throw error;
      }

      // global variables
      let cardClickState = 0; // 0: don't click, 1: president discarding, 2: chancellor discarding
      let currentCards = []; // the cards from which the president/chancellor must discard a card
      // the ids of all elements on the screen, used to easily show/hide elements
      let allIDs = [
        "titleText",
        "playersText",
        "startGameButton",
        "miscEntryText",
        "chancellorVoteYesButton",
        "chancellorVoteNoButton",
        "presidentEndElectionResultsButton",
        "card1Button",
        "card2Button",
        "card3Button",
        "endPolicyPeekButton",
        "chancellorVetoButton",
        "presidentVetoButton",
        "presidentNoVetoButton",
        "startNewGameButton",
        "endInvestigatePlayerButton",
      ];
      let idToName = {}; // map from player id to name
      let isSpectator = false; // true if this client is a spectator
      let roles = []; // the roles of each player, formatted [name, id, role]
      let liberal_color = "#5681df";
      let fascist_color = "#d76f54";

      // get player information and display waiting room
      const urlParams = new URLSearchParams(window.location.search);
      const name = urlParams.get("name");
      const id = urlParams.get("id");
      const secret = urlParams.get("secret");
      document.getElementById(
        "titleText"
      ).textContent = `BAA play here, you are ${name}`;
      console.log(name);
      if (!id || !name || !secret) {
        location.href = "/index.html"; //redirect to login
      }

      function logg() {
        //as of now, do nothing
        //add logging later?
      }

      function send() {
        socket.emit("ui-to-server", "no password lul", ...arguments);
        let logstr = "";
        try {
          for (let a = 0; a < arguments.length; a++) logstr += arguments[a];
        } catch (err) {
          console.log(err);
          logstr = "[logging error]";
        }
        logg(logstr);
      }

      socket.on("connect", () => {
        socket.emit("join", name, id);
        send(
          "player_joined",
          JSON.stringify({ name: name, id: id, secret: secret })
        );
      });

      socket.on("bad_login", (data) => {
        const { message } = JSON.parse(data);
        location.href = "index.html?message=" + encodeURIComponent(message);
      });

      // receive information from shepherd

      socket.on("force_reconnect", () => {
        location.href = "index.html";
      });

      // add a player to the game
      socket.on("on_join", (data) => {
        const { usernames, ids, ongoing_game: ongoingGame } = JSON.parse(data);
        hideAllExcept(["titleText", "playersText"]);

        console.log("players are: ", usernames);
        console.log("player ids are: ", ids);
        console.log("ongoing game is ", ongoingGame);

        // store the player's id and name in a dictionary
        ids.forEach((id, index) => {
          idToName[id] = usernames[index];
        });

        // print the players on the screen
        document.getElementById("playersText").textContent =
          "Players: " + usernames.toString();

        // let the player start the game if possible
        if (!ongoingGame && usernames.length >= 5) {
          show("startGameButton");
        }
      });

      // the president must select a chancellor
      socket.on("chancellor_request", (data) => {
        const { president, eligibles } = JSON.parse(data);

        if (president === id) {
          // if this player is the president, have them select a chancellor nominee
          hideAllExcept(["miscEntryText"]);
          document.getElementById("miscEntryText").textContent =
            "Select your chancellor nominee";
          display_player_buttons(eligibles, "nominateChancellor");
        } else {
          hideAllExcept(["miscEntryText"]);
          document.getElementById("miscEntryText").textContent =
            "The president is selecting a chancellor nominee";
        }
      });

      // tell the player they need to vote
      socket.on("await_vote", (data) => {
        const { president, chancellor, has_voted } = JSON.parse(data);

        const presidentName = idToName[president];
        const chancellorName = idToName[chancellor];
        let voteText = `${presidentName} has nominated ${chancellorName}. `;
        if (isSpectator) {
          hideAllExcept(["miscEntryText"]);
          voteText += "You are a sad boi who cannot vote.";
        } else if (has_voted.includes(id)) {
          hideAllExcept(["miscEntryText"]);
          voteText += "Waiting for others to vote...";
        } else {
          // if this player is not a spectator, they can vote
          hideAllExcept([
            "miscEntryText",
            "chancellorVoteYesButton",
            "chancellorVoteNoButton",
          ]);
          voteText += "Please vote.";
        }
        document.getElementById("miscEntryText").textContent = voteText;
        show_votes(has_voted);
      });

      socket.on("election_results", (data) => {
        const { president, voted_yes, voted_no, result } = JSON.parse(data);
        if (president === id) {
          hideAllExcept(["presidentEndElectionResultsButton", "miscEntryText"]);
        } else {
          hideAllExcept(["miscEntryText"]);
        }
        document.getElementById("miscEntryText").textContent = result
          ? "The vote has passed"
          : "The vote did not pass";
      });

      function endElectionResults() {
        send("end_election_results");
      }

      // the president must discard a card
      socket.on("president_discard", (data) => {
        const { president, cards } = JSON.parse(data);

        cardClickState = 1;
        currentCards = cards;

        if (president == id) {
          hideAllExcept([
            "miscEntryText",
            "card1Button",
            "card2Button",
            "card3Button",
          ]);
          document.getElementById("miscEntryText").textContent =
            "The vote has passed. Discard a policy.";
          show_cards(cards[0], cards[1], cards[2]);
        } else {
          hideAllExcept(["miscEntryText"]);
          document.getElementById("miscEntryText").textContent =
            "The vote has passed. The president is discarding a policy.";
        }
      });

      // the chancellor must discard a card
      socket.on("chancellor_discard", (data) => {
        const { chancellor, cards, can_veto } = JSON.parse(data);

        cardClickState = 2;
        currentCards = cards;

        if (chancellor == id) {
          hideAllExcept(["miscEntryText", "card1Button", "card2Button"]);
          document.getElementById("miscEntryText").textContent =
            "Discard a policy.";
          show_cards(cards[0], cards[1], "fascist_card"); // last card doesn't matter because it's not shown
          // give the chancellor the option to veto if possible
          if (can_veto) {
            show("chancellorVetoButton");
          }
        } else {
          hideAllExcept(["miscEntryText"]);
          document.getElementById("miscEntryText").textContent =
            "The chancellor is discarding a policy";
        }
      });

      // inform the player of their role and display the other players
      socket.on("individual_setup", (data) => {
        const { individual_role, roles: all_roles, powers } = JSON.parse(data);
        roles = all_roles;

        document.getElementById("startGameButton").style.display = "none";

        if (individual_role == "spectator") {
          isSpectator = true;
        }

        display_players(roles);
        display_powers(powers);
      });

      // after the chancellor has vetoed, ask if the president wants to
      socket.on("ask_president_veto", (data) => {
        const { president } = JSON.parse(data);

        if (president == id) {
          hideAllExcept([
            "miscEntryText",
            "presidentVetoButton",
            "presidentNoVetoButton",
          ]);
          document.getElementById("miscEntryText").textContent =
            "The chancellor has decided to veto. Do you?";
          document.getElementById("presidentVetoButton").textContent = "Yes";
          document.getElementById("presidentNoVetoButton").textContent = "No";
        } else {
          hideAllExcept(["miscEntryText"]);
          document.getElementById("miscEntryText").textContent =
            "The chancellor has decided to veto. Waiting on president response.";
        }
      });

      // end the game and show the start new game button
      socket.on("game_over", (data) => {
        const { winner } = JSON.parse(data);

        hideAllExcept(["miscEntryText", "startNewGameButton"]);
        document.getElementById("miscEntryText").textContent =
          winner + " wins!";
      });

      // hide all elements on the screen except for those in idArray
      function hideAllExcept(idArray) {
        allIDs.forEach((elementID, index) => {
          if (idArray.includes(elementID)) {
            document.getElementById(elementID).style.display = "block";
          } else {
            document.getElementById(elementID).style.display = "none";
          }
        });
      }
      // show a specific element on the screen
      function show(elementID) {
        document.getElementById(elementID).style.display = "block";
      }

      // tell the president to select a player to be the next president
      socket.on("begin_special_election", (data) => {
        const { president, eligibles } = JSON.parse(data);

        if (president == id) {
          hideAllExcept(["miscEntryText"]);
          document.getElementById("miscEntryText").textContent =
            "Special election. Select a player to be the next president.";
          display_player_buttons(eligibles, "specialElection");
        } else {
          hideAllExcept(["miscEntryText"]);
          document.getElementById("miscEntryText").textContent =
            "Special election. The president is selecting the next president.";
        }
      });

      function show_cards(card1, card2, card3) {
        cards = [card1, card2, card3];
        for (let a in cards) {
          let el = document.getElementById(`card${parseInt(a) + 1}Button`);
          let f = cards[a] == "fascist_card";
          el.textContent = f ? "Fascist" : "Liberal";
          el.style.background = f ? fascist_color : liberal_color;
        }
      }

      // let the president peek at the top policies
      socket.on("perform_policy_peek", (data) => {
        const { president, cards } = JSON.parse(data);

        cardClickState = 0;

        if (president == id) {
          hideAllExcept([
            "miscEntryText",
            "card1Button",
            "card2Button",
            "card3Button",
            "endPolicyPeekButton",
          ]);
          document.getElementById("miscEntryText").textContent =
            "These are the top 3 cards in the pile.";
          show_cards(cards[0], cards[1], cards[2]);
        } else {
          hideAllExcept(["miscEntryText"]);
          document.getElementById("miscEntryText").textContent =
            "The president is reading the top 3 cards in the pile.";
        }
      });

      // perform the execution of a player
      socket.on("player_executed", (data) => {
        const { player: executedPlayer } = JSON.parse(data);
        //print(executedPlayer); this brings up a printer dialogue lol

        // only keep players who are not the executed player
        roles = roles.filter((player) => player[1] !== executedPlayer);

        // make the executed player a spectator
        if (executedPlayer == id) {
          isSpectator = true;
        }

        // remove the executed player from the display
        allIDs = allIDs.filter(
          (elementID) => elementID !== `selectPlayer${executedPlayer}`
        );

        // display the remaining players
        display_players(roles);
      });

      // nominate chancellor (called by the president)
      function nominateChancellor(id) {
        console.log(`chancellor is being nominated to ${id}`);
        send(
          "chancellor_nomination",
          JSON.stringify({
            nominee: id,
          })
        );
      }

      // tell the president to execute a player
      socket.on("begin_execution", (data) => {
        const { president, eligibles } = JSON.parse(data);

        if (president == id) {
          hideAllExcept(["miscEntryText"]);
          document.getElementById("miscEntryText").textContent =
            "Select a player to execute.";
          display_player_buttons(eligibles, "performExecution");
        } else {
          hideAllExcept(["miscEntryText"]);
          document.getElementById("miscEntryText").textContent =
            "The president is selecting a player to execute.";
        }
      });

      // update the board based on the number of policies enacted
      socket.on("policies_enacted", (data) => {
        const { liberal, fascist } = JSON.parse(data);

        updateCards(liberal, fascist);
      });

      // ask the president to select a player to be investigated
      socket.on("begin_investigation", (data) => {
        const { president, eligibles } = JSON.parse(data);

        if (president == id) {
          hideAllExcept(["miscEntryText"]);
          document.getElementById("miscEntryText").textContent =
            "Select you want to investigate.";
          display_player_buttons(eligibles, "investigatePlayer");
        } else {
          hideAllExcept([]);
        }
      });

      // tell the president the role of the player they investigated
      socket.on("receive_investigation", (data) => {
        const { loyalty, president } = JSON.parse(data);

        if (president === id) {
          hideAllExcept(["miscEntryText", "endInvestigatePlayerButton"]);
          document.getElementById(
            "miscEntryText"
          ).textContent = `That player's role is ${loyalty}`;
        } else {
          hideAllExcept([]);
        }
      });

      /*
      This function votes yes by emitting a player_voted event to the server.
      You are responsible for finding the relevant header in Utils.py.
    */
      function chancellorVoteYes() {
        // vote yes on chancellor
        hideAllExcept(["miscEntryText"]); // text will be updated on next await_vote header
        /*
        BEGIN QUESTION 2
      */
        send("player_voted", JSON.stringify({ id: id, vote: "ja" }));
      }

      /*
      This function votes no by emitting a player_voted event to the server.
      You are responsible for finding the relevant header in Utils.py.
    */
      function chancellorVoteNo() {
        // vote no on chancellor
        hideAllExcept(["miscEntryText"]); // text will be updated on next await_vote header
        /*
        BEGIN QUESTION 2
      */
        send("player_voted", JSON.stringify({ id: id, vote: "nein" }));
      }

      // do the appropriate action when a card is pressed
      function pressedCard(ind) {
        // if an action should be taken
        if (cardClickState != 0) {
          // get the card that is being discarded
          const discarded = currentCards[ind];
          // remove that card from the cards to choose from
          currentCards.splice(ind, 1);
          // if president is discarding
          if (cardClickState == 1) {
            // don't let another button press resend the card
            cardClickState = 0;
            send(
              "president_discarded",
              JSON.stringify({
                cards: currentCards,
                discarded,
              })
            );
          } else {
            // get the card left over (the policy that will be enacted)
            const card = currentCards[0];
            // don't let another button press resend the card
            cardClickState = 0;
            send(
              "chancellor_discarded",
              JSON.stringify({
                card,
                discarded,
              })
            );
          }
        }
      }

      // end the policy peek power (called by the president)
      function endPolicyPeek() {
        send("end_policy_peek", JSON.stringify({}));
      }

      // president chooses a player to investigate
      function investigatePlayer(id) {
        send(
          "investigate_player",
          JSON.stringify({
            player: id,
          })
        );
      }

      // called after the president is done looking at a player's role
      function endInvestigatePlayer() {
        send("end_investigate_player", JSON.stringify({}));
      }

      // president picks who will be the next president
      function specialElection(id) {
        send(
          "special_election_pick",
          JSON.stringify({
            player: id,
          })
        );
      }

      // president determines who to execute
      function performExecution(id) {
        console.log(`${id} is being executed`);
        send(
          "perform_execution",
          JSON.stringify({
            player: id,
          })
        );
      }

      // chancellor performs the veto power
      function chancellorVeto() {
        send("chancellor_vetoed", JSON.stringify({}));
      }

      // president agrees with the veto
      function presidentVeto() {
        const veto = true;
        const cards = currentCards;
        send(
          "president_veto_answer",
          JSON.stringify({
            veto,
            cards,
          })
        );
      }

      // president denies the veto
      function presidentNoVeto() {
        const veto = false;
        const cards = currentCards;
        send(
          "president_veto_answer",
          JSON.stringify({
            veto: veto,
            cards: cards,
          })
        );
      }

      // mapping from sheep to image
      var image_url_mappings = {
        unknown: "{{url_for('static', filename='assets/mystery_sheep.png')}}",
        liberal: "{{url_for('static', filename='assets/liberal_sheep.png')}}",
        fascist: "{{url_for('static', filename='assets/fascist_sheep.png')}}",
        hitler: "{{url_for('static', filename='assets/hitler_sheep.png')}}",
      };

      // mapping from card to image
      var card_url_mappings = {
        fascist_card:
          "{{url_for('static', filename='assets/fascist_card.png')}}",
        liberal_card:
          "{{url_for('static', filename='assets/liberal_card.png')}}",
      };

      var power_url_mappings = {
        investigate_loyalty:
          "{{url_for('static', filename='assets/investigation.png')}}",
        special_election:
          "{{url_for('static', filename='assets/specialelection.png')}}",
        policy_peek: "{{url_for('static', filename='assets/policypeek.png')}}",
        execution: "{{url_for('static', filename='assets/assassination.png')}}",
        "execution+veto": "{{url_for('static', filename='assets/veto.png')}}",
      };

      function display_players(players) {
        /*players is a list of [player names, followed by player identites {liberal, fascist, hitler, unknown}]
            the player list should appear in the order that the game is being played.*/
        //remove all elements on the game_canvas
        let game_canvas = document.getElementById("game_canvas");
        while (game_canvas.firstChild) {
          game_canvas.removeChild(game_canvas.firstChild);
        }
        //add all new elements!
        for (i = 1; i < players.length + 1; i++) {
          //set the class
          var newElement = document.createElement("portrait");
          //set the style
          newElement.setAttribute("style", "--i: " + i);
          //get the correct image
          var url = image_url_mappings[players[i - 1][2]];
          var img_url =
            "{{url_for('static', filename='assets/i_voted_sticker.png')}}";
          var jaOrNein = "{{url_for('static', filename='assets/ja.png')}}"; // added for positioning testing
          var buttonID = "selectPlayer" + players[i - 1][1];
          var placardID = "placardPlayerID" + players[i - 1][1];
          var iVotedID = "votePlayerID" + players[i - 1][1];
          //set the rest of the HTML tag

          newElement.innerHTML =
            // added for testing
            "<img src='" +
            jaOrNein +
            "'class='ja-or-nein'/>" +
            /////////////////
            '<img src="' +
            url +
            '" alt="' +
            players[i - 1][0] +
            '"/> ' +
            '<img src="' +
            img_url +
            '"id="' +
            iVotedID +
            '" alt="i voted" class="i_voted" style="display: none"/> ' +
            '<div class="name_card">' +
            players[i - 1][0] +
            "</div> " +
            "<div id=" +
            placardID +
            ' class="placard" style="display: none">' +
            "</div> " +
            '<button id="' +
            buttonID +
            '" type="button" class="btn btn-primary" style="display: none; margin: auto">Select</button>';
          //finally append!
          game_canvas.appendChild(newElement);
          if (!allIDs.includes(buttonID)) {
            allIDs.push(buttonID);
          }
          if (!allIDs.includes(placardID)) {
            allIDs.push(placardID);
          }
          if (!allIDs.includes(iVotedID)) {
            allIDs.push(iVotedID);
          }
        }
        //adjust the style for the overarching game_canvas div
        game_canvas.setAttribute(
          "style",
          "--m: " +
            players.length +
            "; --tan: " +
            Math.tan(Math.PI / players.length).toFixed(2)
        );
      }

      /*
           Makes select buttons on top of a player visible for all players
           in `players`, a list of ids. On click of these buttons, performs `method`. Each button has an id of the format: `selectPlayer<id>`
           where <id> can be replaced by a player id. Each method takes in a
           single argument, the player id.
           This function can be used, for example, when a president needs to
           choose the chancellor and can only select certain players.
           */
      function display_player_buttons(players, method) {
        /*
        BEGIN QUESTION 3
      */
        players.forEach((player, index) => {
          var button = document.getElementById(`selectPlayer${player}`);
          button.style.display = "block";
          button.setAttribute("onclick", `${method}('${player}')`);
        });
      }

      function set_placards(president, chancellor = undefined) {
        clear_placards();
        var p_placard = document.getElementById(`placardPlayerID${president}`);
        p_placard.innerText = "President";
        p_placard.style.display = "inline-block";
        if (chancellor != undefined) {
          var c_placard = document.getElementById(
            `placardPlayerID${chancellor}`
          );
          c_placard.innerText = "Chancellor";
          c_placard.style.display = "inline-block";
        }
      }

      function clear_placards() {
        Object.keys(idToName).forEach((id) => {
          var placard = document.getElementById(`placardPlayerID${id}`);
          placard.style.display = "none";
        });
      }

      function show_votes(players) {
        clear_votes();
        players.forEach((player) => {
          var vote_sticker = document.getElementById(`votePlayerID${player}`);
          vote_sticker.style.display = "block";
        });
      }

      function clear_votes() {
        Object.keys(idToName).forEach((id) => {
          var vote = document.getElementById(`votePlayerID${id}`);
          vote.style.display = "none";
        });
      }

      function display_powers(powers) {
        /*Will add the presidential powers to the game board
        - powers, a 2d array of the powers on each tile
      */
        for (i = 1; i < 6; i++) {
          var mapping;
          if (powers[i - 1].length == 2) {
            mapping = "execution+veto";
            document.getElementById("fascist power " + i).src =
              power_url_mappings[mapping];
            document.getElementById("fascist power " + i).style.display =
              "block";
          } else if (powers[i - 1].length == 1) {
            mapping = powers[i - 1][0];
            document.getElementById("fascist power " + i).src =
              power_url_mappings[mapping];
            document.getElementById("fascist power " + i).style.display =
              "block";
          }
        }
      }

      function updateCards(liberal, fascist) {
        /*Will make this many of each type of card appear as played on the field!
         */
        for (i = 0; i < liberal; i++) {
          document.getElementById("liberal card " + (i + 1)).style.display =
            "block";
        }
        for (i = 0; i < fascist; i++) {
          document.getElementById("fascist card " + (i + 1)).style.display =
            "block";
        }
      }

      function startNewGame() {
        // call shepherd to_setup
        send("next_stage");
        // redirect
      }
    </script>
  </body>
</html>
