<!DOCTYPE html>
<html>
  <!-- This is the frontend code for the core gameplay. It is roughly organized as follows:
     1. HTML Elements
     2. JavaScript functions that read headers sent by Shepherd and update the screen accordingly
     3. JavaScript functions that respond to user input and send headers back to Shepherd
-->

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.2/socket.io.js"
    ></script>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='bootstrap.min.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='gamestyle.css')}}"
    />
    <link
      rel="shortcut icon"
      href="{{url_for('static', filename='favicon.ico')}}"
    />
    <title>Game</title>

    <style>
      * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: "Comic Sans MS", "Comic Sans", cursive;
      }

      #root {
        background-color: rgb(209, 233, 253);
      }
    </style>
  </head>

  <body id="root">
    <!-- waiting room -->
    <h1 id="titleText">BAAA play here</h1>
    <div class="facts" id="facts">
        <img src="/static/assets/fact_sheep.png" alt="fact-sheep" id="fact-sheep">
        <div class="speach-arrow" id="speach-arrow"></div>
        <div class="speach-bubble">
          <div id="fact-text"></div>
          <button id="factRefreshButton" type="button" class="btn btn-primary" onclick="refreshFacts()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-repeat" viewBox="0 0 16 16">
              <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"></path>
              <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"></path>
            </svg>
          </button>
        </div>
    </div>
    <div>
      <a id="playersText"></a>
    </div>
    <button
      id="startGameButton"
      type="button"
      class="btn btn-primary"
      onclick="startNewGame()"
      style="display: none"
    >
      Start Game
    </button>

    <!-- generic text entry -->
    <h4 id="miscEntryText"></h4>

    <!-- vote on chancellor -->
    <div>
      <button
        id="chancellorVoteYesButton"
        type="button"
        class="btn btn-primary"
        onclick="chancellorVoteYes()"
        style="display: none; float: left"
      >
        Yes
      </button>
      <button
        id="chancellorVoteNoButton"
        type="button"
        class="btn btn-primary"
        onclick="chancellorVoteNo()"
        style="display: none; float: left; margin-left: 10px"
      >
        No
      </button>
    </div>

    <!-- cards to select -->
    <div>
      <button
        id="card1Button"
        type="button"
        class="btn btn-primary"
        onclick="pressedCard(0)"
        style="display: none; float: left; z-index: 1000; position: relative"
      ></button>

      <button
        id="card2Button"
        type="button"
        class="btn btn-primary"
        onclick="pressedCard(1)"
        style="
          display: none;
          float: left;
          z-index: 1000;
          position: relative;
          margin-left: 10px;
        "
      ></button>

      <!-- BEGIN QUESTION 4: We've provided two of the card buttons for you, but 
        the 3rd one is missing! Make the 3rd card button using the same class, 
        type, and style attributes, and similar id and onclick attributes.
       -->
      
      <!--TODO: add button here-->

      <!-- END QUESTION 4 -->

      <!-- veto -->
      <button
        id="chancellorVetoButton"
        type="button"
        class="btn btn-primary"
        onclick="chancellorVeto()"
        style="
          display: none;
          float: left;
          z-index: 1000;
          position: relative;
          margin-left: 10px;
        "
      >
        Veto
      </button>

      <!-- policy peek -->
      <button
        id="endPolicyPeekButton"
        type="button"
        class="btn btn-primary"
        onclick="endPolicyPeek()"
        style="
          display: none;
          float: left;
          z-index: 1000;
          position: relative;
          margin-left: 10px;
        "
      >
        Done
      </button>
    </div>

    <button
      id="presidentEndElectionResultsButton"
      type="button"
      class="btn btn-primary"
      onclick="endElectionResults()"
      style="display: none"
    >
      Done
    </button>

    <!-- investigate player -->
    <button
      id="endInvestigatePlayerButton"
      type="button"
      class="btn btn-primary"
      onclick="endInvestigatePlayer()"
      style="display: none"
    >
      Done
    </button>

    <!-- veto response -->
    <div>
      <button
        id="presidentVetoButton"
        type="button"
        class="btn btn-primary"
        onclick="presidentVeto()"
        style="display: none; float: left"
      >
        Veto
      </button>

      <button
        id="presidentNoVetoButton"
        type="button"
        class="btn btn-primary"
        onclick="presidentNoVeto()"
        style="display: none; float: left; margin-left: 10px"
      >
        No Veto
      </button>
    </div>

    <!-- start new game -->
    <button
      id="startNewGameButton"
      type="button"
      class="btn btn-primary"
      onclick="startNewGame()"
      style="display: none"
    >
      Start New Game
    </button>

    <!-- join new lobby -->
    <button
      id="joinNewLobbyButton"
      type="button"
      class="btn btn-primary"
      onclick="location.reload()"
      style="display: none"
    >Join Lobby</button>

    <!-- join new lobby -->
    <button
      id="signOutButton"
      type="button"
      class="btn btn-primary"
      onclick="location.assign('/game.html')"
      style="display: none"
    >Sign Out</button>

    <div class="container" id="game_canvas"></div>

    <div class="election-tracker" style="top: 50px">
      <div class="circle" id="electionID1" data-filled="false">
        <div class="text">1</div>
      </div>
      <div class="spacer"></div>
      <div class="circle" id="electionID2" data-filled="false">
        <div class="text">2</div>
      </div>
      <div class="spacer"></div>
      <div class="circle" id="electionID3" data-filled="false">
        <img src="{{url_for('static', filename='assets/chaos_icon.png')}}" alt="chaos"/>
      </div>
    </div>

    <!-- Display the board -->
    <div class="board" id="liberal board" style="--n: 5; top: 60px">
      <tile>
        <img
          src="{{url_for('static', filename='assets/liberal_board.png')}}"
          alt="liberal background"
        />
        <img
          class="card"
          id="liberal card 1"
          src="{{url_for('static', filename='assets/liberal_card.png')}}"
          alt="liberal Card"
          style="display: none"
        />
      </tile>
      <tile>
        <img
          src="{{url_for('static', filename='assets/liberal_board.png')}}"
          alt="liberal background"
        />
        <img
          class="card"
          id="liberal card 2"
          src="{{url_for('static', filename='assets/liberal_card.png')}}"
          alt="liberal Card"
          style="display: none"
        />
      </tile>
      <tile>
        <img
          src="{{url_for('static', filename='assets/liberal_board.png')}}"
          alt="liberal background"
        />
        <img
          class="card"
          id="liberal card 3"
          src="{{url_for('static', filename='assets/liberal_card.png')}}"
          alt="liberal Card"
          style="display: none"
        />
      </tile>
      <tile>
        <img
          src="{{url_for('static', filename='assets/liberal_board.png')}}"
          alt="liberal background"
        />
        <img
          class="card"
          id="liberal card 4"
          src="{{url_for('static', filename='assets/liberal_card.png')}}"
          alt="liberal Card"
          style="display: none"
        />
      </tile>
      <tile>
        <img
          src="{{url_for('static', filename='assets/liberal_board_dark.png')}}"
          alt="liberal background"
        />
        <img
          class="power"
          src="{{url_for('static', filename='assets/liberal_win.png')}}"
          id="liberal win"
          alt="liberal win"
        />
        <img
          class="card"
          id="liberal card 5"
          src="{{url_for('static', filename='assets/liberal_card.png')}}"
          alt="liberal Card"
          style="display: none"
        />
      </tile>
      <div style="clear: both"></div>
    </div>
    <div class="board" id="fascist board" style="--n: 6; top: 10px">
      <tile>
        <img
          src="{{url_for('static', filename='assets/fascist_board.png')}}"
          alt="fascist background"
          style="margin-top: 50px"
        />
        <img
          class="power"
          id="fascist power 1"
          alt="fascist power 1"
          style="margin-top: 50px; display: none"
        />
        <img
          class="card"
          id="fascist card 1"
          src="{{url_for('static', filename='assets/fascist_card.png')}}"
          alt="fascist Card"
          style="margin-top: 50px; display: none"
        />
      </tile>
      <tile>
        <img
          src="{{url_for('static', filename='assets/fascist_board.png')}}"
          alt="fascist background"
          style="margin-top: 50px"
        />
        <img
          class="power"
          id="fascist power 2"
          alt="fascist power 2"
          style="margin-top: 50px; display: none"
        />
        <img
          class="card"
          id="fascist card 2"
          src="{{url_for('static', filename='assets/fascist_card.png')}}"
          alt="fascist Card"
          style="margin-top: 50px; display: none"
        />
      </tile>
      <tile>
        <img
          src="{{url_for('static', filename='assets/fascist_board.png')}}"
          alt="fascist background"
          style="margin-top: 50px"
        />
        <img
          class="power"
          id="fascist power 3"
          alt="fascist power 3"
          style="margin-top: 50px; display: none"
        />
        <img
          class="card"
          id="fascist card 3"
          src="{{url_for('static', filename='assets/fascist_card.png')}}"
          alt="fascist Card"
          style="margin-top: 50px; display: none"
        />
      </tile>
      <tile>
        <img
          src="{{url_for('static', filename='assets/fascist_board_dark.png')}}"
          alt="fascist background"
          style="margin-top: 50px"
        />
        <img
          class="power"
          id="fascist power 4"
          alt="fascist power 4"
          style="margin-top: 50px; display: none"
        />
        <img
          class="card"
          id="fascist card 4"
          src="{{url_for('static', filename='assets/fascist_card.png')}}"
          alt="fascist Card"
          style="margin-top: 50px; display: none"
        />
      </tile>
      <tile>
        <img
          src="{{url_for('static', filename='assets/fascist_board_dark.png')}}"
          alt="fascist background"
          style="margin-top: 50px"
        />
        <img
          class="power"
          id="fascist power 5"
          alt="fascist power 5"
          style="margin-top: 50px; display: none"
        />
        <img
          class="card"
          id="fascist card 5"
          src="{{url_for('static', filename='assets/fascist_card.png')}}"
          alt="fascist Card"
          style="margin-top: 50px; display: none"
        />
      </tile>
      <tile>
        <img
          src="{{url_for('static', filename='assets/fascist_board_dark.png')}}"
          alt="fascist background"
          style="margin-top: 50px"
        />
        <img
          class="power"
          src="{{url_for('static', filename='assets/fascist_win.png')}}"
          id="fascist win"
          alt="fascist win"
          style="margin-top: 50px"
        />
        <img
          class="card"
          id="fascist card 6"
          src="{{url_for('static', filename='assets/fascist_card.png')}}"
          alt="fascist Card"
          style="margin-top: 50px; display: none"
        />
      </tile>
      <div style="clear: both"></div>
    </div>

    <script>
      // mapping from sheep to image
      const image_url_mappings = {
        unknown: "{{url_for('static', filename='assets/mystery_sheep.png')}}",
        liberal: "{{url_for('static', filename='assets/liberal_sheep.png')}}",
        fascist: "{{url_for('static', filename='assets/fascist_sheep.png')}}",
        hitler: "{{url_for('static', filename='assets/hitler_sheep.png')}}",
      };

      // mapping from card to image
      const card_url_mappings = {
        fascist_card:
          "{{url_for('static', filename='assets/fascist_card.png')}}",
        liberal_card:
          "{{url_for('static', filename='assets/liberal_card.png')}}",
      };

      //mapping from power to image
      const power_url_mappings = {
        investigate_loyalty:
          "{{url_for('static', filename='assets/investigation.png')}}",
        special_election:
          "{{url_for('static', filename='assets/specialelection.png')}}",
        policy_peek: "{{url_for('static', filename='assets/policypeek.png')}}",
        execution: "{{url_for('static', filename='assets/assassination.png')}}",
        "execution+veto": "{{url_for('static', filename='assets/veto.png')}}",
      };

      const iVotedURL = "{{url_for('static', filename='assets/i_voted_sticker.png')}}";
      const jaURL = "{{url_for('static', filename='assets/ja.png')}}";
      const neinURL = "{{url_for('static', filename='assets/nein.png')}}";

    </script>
    <script src="{{url_for('static', filename='game.js')}}"></script>
  </body>
</html>
