<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="{{url_for('static', filename='utils/cookies.js')}}"></script>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='bootstrap.min.css')}}"
    />
    <link
      rel="shortcut icon"
      href="{{url_for('static', filename='favicon.ico')}}"
    />
    <title>Game</title>
  </head>
  <body>
    <!-- waiting room -->
    <h1 id="title">BAAA play here</h1>
    <h4>Players are below:</h4>
    <a id="players"></a>
    <button
      id="startGameButton"
      type="button"
      class="btn btn-primary"
      onclick="startGame()"
      style="display: none;"
    >
      Start Game
    </button>

    <!-- general game state -->
    <h3 id="liberalEnactedText">Liberal: 0</h3>
    <h3 id="fascistEnactedText">Fascist: 0</h3>

    <!-- generic text entry -->
    <h4 id="miscEntryText"></h4>
    <input
      id="miscEntryField"
      type="text"
      class="form-control"
      placeholder=""
      style="display: none;"
    />
    <button
      id="nominateChancellorButton"
      type="button"
      class="btn btn-primary"
      onclick="nominateChancellor()"
      style="display: none;"
    >
      Nominate Chancellor
    </button>

    <!-- vote on chancellor -->
    <h4 id="chancellorVoteText"></h4>
    <button
      id="chancellorVoteYesButton"
      type="button"
      class="btn btn-primary"
      onclick="chancellorVoteYes()"
      style="display: none;"
    >
      Yes
    </button>
    <button
      id="chancellorVoteNoButton"
      type="button"
      class="btn btn-primary"
      onclick="chancellorVoteNo()"
      style="display: none;"
    >
      No
    </button>

    <!-- cards to select -->
    <button
      id="card1Button"
      type="button"
      class="btn btn-primary"
      onclick="pressedCard(0)"
      style="display: none;"
    >
    </button>

    <button
      id="card2Button"
      type="button"
      class="btn btn-primary"
      onclick="pressedCard(1)"
      style="display: none;"
    >
    </button>

    <button
      id="card3Button"
      type="button"
      class="btn btn-primary"
      onclick="pressedCard(2)"
      style="display: none;"
    >
    </button>

    <!-- investigating -->
    <button
      id="investigateButton"
      type="button"
      class="btn btn-primary"
      onclick="investigate()"
      style="display: none;"
    >
      Investigate
    </button>

    <!-- special election -->
    <button
      id="specialElectionButton"
      type="button"
      class="btn btn-primary"
      onclick="specialElection()"
      style="display: none;"
    >
      Select Player
    </button>

    <script>
      // initialize socket
      console.log("loaded");
      let socket;
      try {
        socket = io();
      } catch (error) {
        document.getElementById(
          "title"
        ).textContent = `Looks like you don't have a full connection to the server! Try checking your internet connection!`;
        throw error;
      }

      // get player information and display waiting room
      const name = getCookie("name");
      const id = getCookie("id");
      document.getElementById(
        "title"
      ).textContent = `BAA play here, you are ${name}`;
      console.log(name);
      if (!id && !name) {
        location.href = "/index";
      }
      socket.emit(
        "join",
        JSON.stringify({
          name,
          id,
        })
      );

      // receive information from shepherd

      socket.on("event", () => console.log("baa "));

      socket.on("on_join", (data) => {
        const { usernames, ongoingGame: ongoing_game } = JSON.parse(data);
        console.log("players are: ", usernames);
        document.getElementById("players").textContent = usernames.toString();
        if (!ongoing_game && usernames.length >= 5) {
          document.getElementById("startGameButton").style.display = "block";
        }
      });

      socket.on("chancellor_request", (data) => {
        const d = JSON.parse(data);
        const president = d["president"];
        const eligibles = d["eligibles"];

        document.getElementById("startGameButton").style.display = "none";
        if (president == id) {
          document.getElementById("miscEntryText").textContent = "Type your chancellor nominee. Options are " + eligibles.toString();
          document.getElementById("miscEntryField").style.display = "block";
          document.getElementById("nominateChancellorButton").style.display = "block";
        } else {
          document.getElementById("miscEntryText").textContent = "";
        }
        document.getElementById("chancellorVoteText").textContent = ""; 
        document.getElementById("chancellorVoteYesButton").style.display = "none";
        document.getElementById("chancellorVoteNoButton").style.display = "none";
      });

      socket.on("await_vote", (data) => {
        const d = JSON.parse(data);
        const president = d["president"];
        const chancellor = d["chancellor"];

        document.getElementById("miscEntryText").textContent = "";
        document.getElementById("miscEntryField").style.display = "none";
        document.getElementById("nominateChancellorButton").style.display = "none";
        document.getElementById("chancellorVoteText").textContent = president.toString() + " has nominated " + chancellor.toString() + ". Please vote."
        document.getElementById("chancellorVoteYesButton").style.display = "block";
        document.getElementById("chancellorVoteNoButton").style.display = "block";
      });

      socket.on("president_discard", (data) => {
        const d = JSON.parse(data);
        const president = d["president"];
        const cards = d["cards"];

        presidentDiscarding = true;
        currentCards = cards;

        if (president == id) {
          document.getElementById("chancellorVoteText").textContent = "The vote has passed. Discard a policy.";
          document.getElementById("card1Button").textContent = cards[0] == "fascist_card" ? "Fascist" : "Liberal";
          document.getElementById("card1Button").style.display = "block";
          document.getElementById("card2Button").textContent = cards[1] == "fascist_card" ? "Fascist" : "Liberal";
          document.getElementById("card2Button").style.display = "block";
          document.getElementById("card3Button").textContent = cards[2] == "fascist_card" ? "Fascist" : "Liberal";
          document.getElementById("card3Button").style.display = "block";
        } else {
          document.getElementById("chancellorVoteText").textContent = "The vote has passed. The president is discarding a policy."
          document.getElementById("card1Button").style.display = "none";
          document.getElementById("card2Button").style.display = "none";
          document.getElementById("card3Button").style.display = "none";
        }
        hideYesAndNoButtons();
      })

      socket.on("chancellor_discard", (data) => {
        const d = JSON.parse(data);
        const chancellor = d["chancellor"];
        const cards = d["cards"];
        const can_veto = d["can_veto"];

        // todo: veto

        presidentDiscarding = false;
        currentCards = cards;

        if (chancellor == id) {
          document.getElementById("chancellorVoteText").textContent = "Discard a policy.";
          document.getElementById("card1Button").textContent = cards[0] == "fascist_card" ? "Fascist" : "Liberal";
          document.getElementById("card1Button").style.display = "block";
          document.getElementById("card2Button").textContent = cards[1] == "fascist_card" ? "Fascist" : "Liberal";
          document.getElementById("card2Button").style.display = "block";
        } else {
          document.getElementById("chancellorVoteText").textContent = "The chancellor is discarding a policy."
          document.getElementById("card1Button").style.display = "none";
          document.getElementById("card2Button").style.display = "none";
          document.getElementById("card3Button").style.display = "none";
        }
        hideYesAndNoButtons();
      })

      socket.on("policies_enacted", (data) => {
        const d = JSON.parse(data);
        const liberal = d["liberal"];
        const fascist = d["fascist"];

        document.getElementById("liberalEnactedText").textContent = "Liberal: " + liberal;
        document.getElementById("fascistEnactedText").textContent = "Fascist: " + fascist;
      })

      socket.on("begin_investigation", (data) => {
        const d = JSON.parse(data);
        const president = d["president"];
        const eligibles = d["eligibles"];

        if (president == id) {
          document.getElementById("miscEntryText").textContent = "Type who you want to investigate. Options are " + eligibles.toString();
          document.getElementById("miscEntryField").style.display = "block"
          document.getElementById("investigateButton").style.display = "block"
        } else {
          document.getElementById("miscEntryText").textContent = ""
        }
      })

      socket.on("receive_investigation", (data) => {
        const d = JSON.parse(data);
        const { role, president } = d;

        if (president === id) {
          document.getElementById("miscEntryText").textContent = 
            `That player's role is ${role}`;
        }
      })

      socket.on("begin_special_election", (data) => {
        const d = JSON.parse(data);
        const president = d["president"];

        if (president == id) {
          document.getElementById("miscEntryText").textContent = "Special election. Select a player to be the next president."
          document.getElementById("miscEntryField").style.display = "block";
          document.getElementById("specialElectionButton").style.display = "block";
        }
      })

      const hideYesAndNoButtons = () => {
        document.getElementById("chancellorVoteYesButton").style.display = "none";
        document.getElementById("chancellorVoteNoButton").style.display = "none";
      }

      // functions that send information to shepherd

      function startGame() {
        // hide start game button
        socket.emit("next_stage");
      }

      function nominateChancellor() {
        // nominate chancellor
        const nominee = document.getElementById("miscEntryField").value;
        socket.emit("chancellor_nomination", JSON.stringify({nominee}));
      }

      function chancellorVoteYes() {
        // vote yes on chancellor
        const vote = "ja";
        socket.emit("player_voted", JSON.stringify({"id": id, "vote": vote}));
        hideYesAndNoButtons()
      }
      

      function chancellorVoteNo() {
        // vote no on chancellor
        const vote = "nein";
        socket.emit("player_voted", JSON.stringify({id, vote}));
      }

      function pressedCard(ind) {
        const discarded = currentCards[ind];
        currentCards.splice(ind, 1);
        if (presidentDiscarding) {
          socket.emit("president_discarded", JSON.stringify({"cards": currentCards, "discarded": discarded}));
        } else {
          const card = currentCards[0]
          socket.emit("chancellor_discarded", JSON.stringify({"card": card, "discarded": discarded}));
        }
      }

      function investigatePlayer() {
        const player = document.getElementById("miscEntryField").value;
        socket.emit("investigate_player", JSON.stringify({player}));
      }

      function specialElection() {
        const player = document.getElementById("miscEntryField").value;
        socket.emit("special_election_pick", JSON.stringify({player}));
      }

      // variables
      var presidentDiscarding = true;
      var currentCards = [];
    </script>
  </body>
</html>
