<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="{{url_for('static', filename='utils/cookies.js')}}"></script>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='bootstrap.min.css')}}"
    />
    <link
      rel="shortcut icon"
      href="{{url_for('static', filename='favicon.ico')}}"
    />
    <title>Game</title>
  </head>
  <body>
    <h1 id="title">BAAA play here</h1>
    <h4>Players are below:</h4>
    <a id="players"></a>
    <script>
      console.log("loaded");
      let socket;
      try {
        socket = io();
      } catch (error) {
        document.getElementById("title").textContent = `Looks like you don't have a full connection to the server! Try checking your internet connection!`;
        throw error;
      }
      const name = getCookie("name");
      const id = getCookie("id");
      document.getElementById("title").textContent = `BAA play here, you are ${name}`;
      console.log(name);
      if (!id && !name) {
        location.href = "/index";
      }
      socket.emit(
        "join",
        JSON.stringify({
          name,
          id,
        })
      );
      socket.on("event", () => console.log("baa "));
      socket.on("players", (data) => {
        const { usernames } = JSON.parse(data);
        console.log("players are: ", usernames);
        document.getElementById("players").textContent = usernames.toString();
      });
    </script>
  </body>
</html>
