<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='bootstrap.min.css')}}"
    />
    <script src="{{url_for('static', filename='utils/cookies.js')}}"></script>
  </head>
  <body>
    <script type="text/javascript">
      const socket = io();
      socket.on("event", () => console.log("baa "));
      const joinGame = () => {
        const id = Math.round(Math.random() * 1000);
        const name = document.getElementById("nameField").value;
        console.log("Joining game with id ", id);
        setCookie("id", id);
        setCookie("name", name);
        socket.emit(
          "join",
          JSON.stringify({
            name,
            id,
          })
        );
        location.href = "/game";
      };
    </script>
    <h1>BAAA, your name is</h1>
    <input
      id="nameField"
      type="text"
      class="form-control"
      placeholder="name plz"
    />
    <button type="button" class="btn btn-primary" onclick="joinGame()">
      Join Game!
    </button>
  </body>
</html>
