<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='bootstrap.min.css')}}"
    />
    <script src="{{url_for('static', filename='utils/cookies.js')}}"></script>
    <script >
      String.prototype.hashCode = function() {
        var hash = 0, i, chr;
        for (i = 0; i< this.length; i++) {
          chr = this.charCodeAt(i);
          hash = ((hash << 5) - hash) + chr;
          hash |= 0;
        }
        return hash
      };
    </script>
  </head>
  <body>
    <script type="text/javascript">
      const socket = io();
      socket.on("event", () => console.log("baa "));
      function joinGame () {
        const password = document.getElementById("passwordField").value;
        const name = document.getElementById("nameField").value;
        const id = password.concat(name).hashCode();
        console.log("id and name are ", id, name);
        setCookie("id", id);
        setCookie("name", name);
        location.href = "/game";
      };
    </script>
    <h1>BAAA, your name is</h1>
    <input
      id="nameField"
      type="text"
      class="form-control"
      placeholder="name plz"
    />
    <input
      id="passwordField"
      type="password"
      class="form-control"
      placeholder="create a password"
    />
    <button type="button" class="btn btn-primary" onclick="joinGame()">
      Join Game!
    </button>
  </body>
</html>
