<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="{{url_for('static', filename='utils/cookies.js')}}"></script>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='gamestyle.css')}}"
    />
    <link
      rel="shortcut icon"
      href="{{url_for('static', filename='favicon.ico')}}"
    />
    <title>Game</title>
  </head>
  <body>
    <div class="container" id="game_canvas">
    </div>
    <script>
        var image_url_mappings = {"unknown" : "{{url_for('static', filename='assets/Mystery Sheep.png')}}",
                                  "liberal" : "{{url_for('static', filename='assets/Liberal Sheep.png')}}",
                                  "fascist" : "{{url_for('static', filename='assets/Fascist Sheep.png')}}",
                                  "hitler" : "{{url_for('static', filename='assets/Hitler Sheep.png')}}",
        };

        function display_players(players) {
            /*players is a list of [player names, followed by player identites {liberal, fascist, hitler, unknown}]
            the player list should appear in the order that the game is being played.*/
            //remove all elements on the game_canvas
            let game_canvas = document.getElementById("game_canvas");
            while (game_canvas.firstChild) {
              game_canvas.removeChild(game_canvas.firstChild);
            }
            //add all new elements!
            for (i = 1; i < players.length + 1; i++) {
              //set the class
              var newElement = document.createElement("portrait");
              //set the style
              newElement.setAttribute("style", "--i: " + i);
              //get the correct image
              var url = image_url_mappings[players[i-1][1]];
              //set the rest of the HTML tag
              newElement.innerHTML = '<img src="' + url + '" alt="' + players[i-1][0] + '"/> ' +
                                      '<div class="name_card" style="--i: ' + i + '">' + players[i-1][0] + '</div>';
              //finally append!
              game_canvas.appendChild(newElement);
            }
            //adjust the style for the overarching game_canvas div
            game_canvas.setAttribute("style", "--m: " + players.length + "; --tan: " + Math.tan(Math.PI/players.length).toFixed(2));
        };

        function test_disp_players() {
          display_players([["Alex","unknown"],["Matthew","fascist"],["Akshit","liberal"],["Charles","hitler"],["Ben","unknown"],["Ryan","liberal"]]);
        };
    </script>
  </body>
