<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jonathan's Intro</title>


  <link rel="stylesheet" href="../static/css/styling.css">
</head>

<body>
  <div class="container-light" id="container">

    <h1>
      Jonathan Atkins
      <button id="dark-mode">Dark Mode</button>
    </h1>

    <div class="content-light content">
      <h3>
        Basic Info
      </h3>
      <ul>
        <li>EECS 3rd year</li>
        <li>From San Jose</li>
        <li>Was a "discoverer" of cs at Berkeley</li>
      </ul>
    </div>

    <div class="content-light content">
      <h3>
        Facts "Not Fun"
      </h3>
      <ul>
        <li>
          Light novel reader
        </li>
        <li>
          Likes web development
        </li>
        <li>
          Ugly feet
        </li>
      </ul>
    </div>


    <div class="content-light content">
      <h4>
        Contact Info
      </h4>
      <ul>
        <li>
          berkeley email: jonathan.atkins@berkeley.edu
        </li>
        <li>
          pie email: jonathanatkins@pioneers.berkeley.edu
        </li>
        <li>
          Phone: 4087961675
        </li>
      </ul>
    </div>

  </div>

<script src="../static/js/functions.js"></script>
</body>

</html>