<!DOCTYPE html>
<html lang="en-us">
<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/css/styling.css">

	<title> Intro to Web Dev </title>
 
    <div class="container-header"> 
        <h1> Solutions to challenges 1-3 </h1> 
    </div>     

	<!--Additional elements for browsers and robots go here goes here-->
</head>

<body>
  <div class = "challenge-1">
    <p> Goal: Create a list describing who you are. Ex: Name, Year, Major, etc </p>
    <!-- Write code within here -->
      <ul>
        <li>Jane Doe</li>
        <li>Freshman</li>
        <li>EECS</li>
        <li>ETC</li>
      </ul>

  </div>

  <div class = "challenge-2">
    <p> Goal: Create a button that directs to anything </p>

      <form action="https://www.omfgdogs.com/">
        <button type="submit" class = "btn">Click me</button>
      </form>

    <!-- Write code within here -->

  </div>

  <div class = "challenge-3">
    <p> Goal: Add a Image and make it hyperlink to something <br> </p>
    <!-- Write code within here -->

    <a href = "https://spca.bc.ca/news/fun-facts-about-sheep/">
      <img src="https://cdn.mos.cms.futurecdn.net/8k3DjpgmsoD7fKwk3zyBEf.jpg" alt="HTML" width="350" height="250">
    </a>
   

  </div>

  
  
  <!-- Connecting to the Javascript File -->
  <script>
    //can also write javascript within here -> 
    console.log("Hi!!!")
  
    //If you want to connect javascript file -> add this next to script tag -> src="../static/js/functions.js" n

  </script>
</body>

</html>